h1{
    text-align: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
input{
    margin-top: 20px;
}
button{
    margin-top: 50px;
    padding: 5px;
    border: none;
    background-color: rgb(13, 128, 223);
    width: 150px;

}
a{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}